.child-tasks-template {
	padding: 32px;
	margin: 0px;
}

.tasks-template-field {
	margin-bottom: 20px;
}

.tasks-template-field-label {
	font-weight: 500;
}

.tasks-template-field-description {
	font-weight: 500;
	color: gray;
}
